body{background-color:darkgreen;
    font-family: calibri;
    text-align: center;
    align-items: center;
    font-family: helvetica;
}

img{
    border-style: solid;
    border-color: chartreuse;
    border-radius: 5px;
}




hr{
    border-color: chartreuse;
    width: 500px;
}

a{
    color: chartreuse;
    text-decoration: none;
}

